# SQL Using Python

### Sign in to Google Drive to upload database

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### We will use SQLite3, a Python package for SQL to play with SQL queries.

In [ ]:
#!conda install sqlite3
!pip3 install sqlite3
import sqlite3

### The database we are using contains data from the FIFA video game.

In [ ]:
conn = sqlite3.connect('database.sqlite')

In [ ]:
c = conn.cursor()

### First we'll create a query to show all of the tables in the database.

In [ ]:
c.execute("""SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;""")
available_tables = (c.fetchall())

In [ ]:
available_tables

### Now we'll look at a specific table in the database.

In [ ]:
c.execute("""SELECT * FROM player;""")
c.fetchall()

### So, we have looked at a table, but let us try to look at only specific fields.

In [ ]:
c.execute("""SELECT player_name, birthday FROM player;""")
c.fetchall()

### But, how can we get the database to only return specific rows in the table?

In [ ]:
c.execute("""SELECT * FROM player WHERE weight < 130;""")
c.fetchall()

### And, what if we want to search for players by name?

In [ ]:
c.execute("""SELECT * FROM player WHERE player_name LIKE "Javier%";""")
c.fetchall()

### We can be even more specific:

In [ ]:
c.execute("""SELECT * FROM player WHERE player_name LIKE "Javier B%";""")
c.fetchall()

### What if we want to find all names with 'Jack' in them?

In [ ]:
c.execute("""SELECT * FROM player WHERE player_name LIKE "%jack%";""")
c.fetchall()

### Now, we want to be more precise using the underscore:

In [ ]:
c.execute("""SELECT * FROM player WHERE player_name LIKE "T_m %";""")
c.fetchall()

### Or if we want to look for a names in a list of names:

In [ ]:
c.execute("""SELECT * FROM player WHERE player_name IN ("Cristiano Ronaldo","Lionel Messi");""")
c.fetchall()

### Or if we want to find values in a range:

In [ ]:
c.execute("""SELECT * FROM player WHERE weight BETWEEN 120 and 130;""")
c.fetchall()

# Assignment #2

### Construct SQL querries to complete this notebook, then save it as a pdf.
### The file name should have no spaces. It should be your last name and your first name then "-AssignmentOne" --> like this: "GruetzemacherRoss-AssignmentOne.pdf".

### 1. List the players greater than 200cm in height and less than 175lbs by height.

In [ ]:
c.execute("""ENTER YOUR QUERY HERE;""")
c.fetchall()

[(2250, 33330, 'Danny Wintjens', 28097, '1983-09-30 00:00:00', 200.66, 168),
 (9034, 32786, 'Robert Jones', 155018, '1979-11-03 00:00:00', 200.66, 170)]

### 2. Find the one player whose last name contains the name Aaron?

In [ ]:
c.execute("""ENTER YOUR QUERY HERE;""")
c.fetchall()

[(1, 505942, 'Aaron Appindangoye', 218353, '1992-02-29 00:00:00', 182.88, 187),
 (2, 155782, 'Aaron Cresswell', 189615, '1989-12-15 00:00:00', 170.18, 146),
 (3, 162549, 'Aaron Doran', 186170, '1991-05-13 00:00:00', 170.18, 163),
 (4, 30572, 'Aaron Galindo', 140161, '1982-05-08 00:00:00', 182.88, 198),
 (5, 23780, 'Aaron Hughes', 17725, '1979-11-08 00:00:00', 182.88, 154),
 (6, 27316, 'Aaron Hunt', 158138, '1986-09-04 00:00:00', 182.88, 161),
 (7, 564793, 'Aaron Kuhl', 221280, '1996-01-30 00:00:00', 172.72, 146),
 (8, 30895, 'Aaron Lennon', 152747, '1987-04-16 00:00:00', 165.1, 139),
 (9, 528212, 'Aaron Lennox', 206592, '1993-02-19 00:00:00', 190.5, 181),
 (10, 101042, 'Aaron Meijers', 188621, '1987-10-28 00:00:00', 175.26, 170),
 (11, 23889, 'Aaron Mokoena', 47189, '1980-11-25 00:00:00', 182.88, 181),
 (12, 231592, 'Aaron Mooy', 194958, '1990-09-15 00:00:00', 175.26, 150),
 (13, 163222, 'Aaron Muirhead', 213568, '1990-08-30 00:00:00', 187.96, 168),
 (14, 40719, 'Aaron Niguez', 183853, '1989-04-26 00:00:00', 170.18, 143),
 (15, 75489, 'Aaron Ramsey', 186561, '1990-12-26 00:00:00', 177.8, 154),
 (16, 597948, 'Aaron Splaine', 226014, '1996-10-13 00:00:00', 172.72, 163),
 (17,
  161644,
  'Aaron Taylor-Sinclair',
  213569,
  '1991-04-08 00:00:00',
  182.88,
  176),
 (18, 23499, 'Aaron Wilbraham', 2335, '1979-10-21 00:00:00', 190.5, 159),
 (9157, 570431, 'Rolando Aarons', 222513, '1995-11-16 00:00:00', 175.26, 148)]

### 3. Find all of the players whose height is between 165cm and 166cm that weigh 150lbs.

In [ ]:
c.execute("""ENTER YOUR QUERY HERE;""")
c.fetchall()

[(328,
  45220,
  'Alejandro Daro Gomez',
  143076,
  '1988-02-15 00:00:00',
  165.1,
  150),
 (1812,
  303343,
  'Christopher Johnston',
  211673,
  '1994-09-03 00:00:00',
  165.1,
  150),
 (2628, 51321, 'Diego Gomez', 158877, '1984-01-05 00:00:00', 165.1, 150),
 (5992, 111190, 'Laure', 188930, '1985-03-22 00:00:00', 165.1, 150),
 (7114, 111033, 'Matias Alustiza', 186650, '1984-05-31 00:00:00', 165.1, 150),
 (8522, 243649, 'Pedro Ramirez', 220765, '1992-08-24 00:00:00', 165.1, 150),
 (10481, 421995, 'Toze', 212729, '1993-01-14 00:00:00', 165.1, 150)]

### 4. Find the 10 tallest players and order them by weight.

In [ ]:
c.execute("""ENTER YOUR QUERY HERE""")
c.fetchall()

[(3274, 601304, 'Fejsal Mulic', 226114, '1994-10-03 00:00:00', 203.2, 185),
 (8285, 41129, 'Paolo Acerbis', 137130, '1981-05-05 00:00:00', 203.2, 190),
 (5957, 150297, 'Lacina Traore', 199074, '1990-05-20 00:00:00', 203.2, 192),
 (5804, 96465, 'Kevin Vink', 193674, '1984-07-30 00:00:00', 203.2, 194),
 (10574,
  543021,
  'Vanja Milinkovic-Savic',
  224836,
  '1997-02-20 00:00:00',
  203.2,
  203),
 (8638, 39522, 'Pietro Marino', 178389, '1986-11-21 00:00:00', 203.2, 209),
 (11043, 30850, 'Zeljko Kalac', 51883, '1972-12-16 00:00:00', 203.2, 209),
 (1926,
  103428,
  'Costel Pantilimon',
  192613,
  '1987-02-01 00:00:00',
  203.2,
  212),
 (5568, 26585, 'Jurgen Wevers', 148875, '1979-01-12 00:00:00', 203.2, 212),
 (8016, 38567, 'Nikola Zigic', 167515, '1980-09-25 00:00:00', 203.2, 212),
 (1301, 150209, 'Bogdan Milic', 189967, '1987-11-24 00:00:00', 203.2, 216),
 (9916, 27372, 'Stefan Maierhofer', 179549, '1982-08-16 00:00:00', 203.2, 216),
 (5908,
  148325,
  'Kristof van Hout',
  185306,
  '1987-02-09 00:00:00',
  208.28,
  243)]

HINT: https://www.youtube.com/watch?v=kbKty5ZVKMY